# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.res

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib
*.a

# Executables
*.exe
*.out
*.app

#other
*.bat
*.gmk
resources/raw/
*.layout
*.depend
*.ini

#allow build bat for windows build
!build.bat
.vscode/*
library/SFML-2.5.1